/* CUSTOM PROPERTIES */
:root{
  /* colors */
  --bg-color: hsl(0, 3%, 11%);
  /* --text-color: hsl(0, 2%, 80%); */
  --text-color: hsl(0, 0%, 93%);
  --bg-color-header: hsl(0, 3%, 11%);
  --primary-color: #864d37;
  --accent-color: hsl(18, 42%, 5%);
  --secondary-color: #F9D2C3;
  --accent-color2: #636A5B;
  --accent-color3: #454644;

  /* font-family */
  --body-txt: 'Saira Extra Condensed', sans-serif;
  --heading-txt: 'Unna', serif;
}

/* RESET / BASIC STYLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: var(--body-txt);
  font-size: 62.5%; 
  /* 62.5% of 16px browser font size is 10px */
  /* 12px in rems: 12 / 16 = 0.75rem */
  /* 16px in rems: 16 / 16 = 1rem */
  line-height: 1.5;
  scroll-behavior: smooth;
  color: var(--text-color);
}
body{
  background-color: var(--bg-color-header);
  font-size: 1.6rem;
}
ul{
  list-style: none;
}
a{
  color: var(--text-color);
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
section{
  padding-block: 6rem;
}

/* REUSABLE CLASSES */
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.6rem;
  height: 100%;
}
.btn{
  border-radius: 100px;
  border: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 32px;
  font-family: var(--body-txt);
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */
@keyframes slideFromTop{
  0%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* ------------------------------------------------------*/

/* PROJECT STYLES - MOBILE FIRST < 600px */
/* ----- HEADER SECTION ----- */
header{
  position: fixed;
  width: 100%;
  top: 0;
  /* height: 0; */
  z-index: 100;
  height: 65px;
  background-color: hsla(0, 3%, 11%, .90);
}
/* header.active{
} */

nav{
  display: none;
  height: 65px;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
.list-item a{
  font-size: 1.8rem;
}
/* MOBILE NAVIGATION */
.mobile-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  position: fixed;
  right: 1.6rem;
  top: 1.2rem;
}
.mobile-nav .hamburger{
  font-size: 2.4rem;
  cursor: pointer;
  padding: .25rem;
  display: block;
}
.mobile-nav .close{
  display: none;
}


/* ----- INTRO SECTION ----- */
.intro .container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-height: 75vh;
  background-image: url("../images/afbeelding03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .60);

  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}
.intro-logo{
  width: 200px;
  height: auto;
  margin-bottom: -8rem;
}
.intro-content{
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 1px;
}
.intro-content span{
  display: block;
  font-size: 2rem;
}

/* ----- OPENINGHOURS ----- */
table{
  width: 200px;
}
th{
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid;
  padding: 0 1rem;
}


/* ----- FOOTER ----- */
.question{
  display: flex;
  flex-direction: column;
}
footer h2{
  margin-bottom: 1.6rem;
  text-align: center;
}
input[type="text"]{
  padding: .75rem 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-family: var(--heading-txt);
}
textarea{
  border-radius: 4px;
  border: none;
  resize: none;
  padding: .75rem 1rem;
  font-family: var(--heading-txt);
  font-size: 1.4rem;
}
.btn-footer{
  margin-top: 2rem;
  border: 2px solid var(--primary-color);
  letter-spacing: 1px;
  transition: background-color 250ms ease;
}
.btn-footer:hover{
  background-color: transparent;
  border: 2px solid var(--primary-color);
}
.social-media{
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2.4rem;
  margin-block: 4rem;
  align-items: center;
}
.copyright{
  font-size: x-small;
  color: rgb(81, 81, 82);
  text-align: center;
}
.phonenumber{
  font-size: 2.4rem;
}

