@font-face {
  font-family: "Satisfy";
  src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Spectral";
  src: url(../fonts/Spectral/Spectral-Regular.ttf);
}
/* ---------- CUSTOM PROPERTIES ---------- */
:root{
  /* colors */
  --bg-color: rgb(24, 24, 26);
  --text-color: hsl(0, 0%, 93%);
  --bg-color-header: hsl(0, 3%, 11%);
  --bg-color-header: #494848; /* als text even */
  --primary-color: #864d37;
  --accent-color: hsl(18, 42%, 5%);
  --secondary-color: #F9D2C3;
  --accent-color2: #636A5B;
  --accent-color3: #454644;
  --bg-color: hsl(0, 0%, 8%);

  /* font-family */
  --logo-ff: "Satisfy", serif;
  /* --nav-ff: "DM Sans, sans-serif"; */
  --body-ff: "DM Sans", sans-serif;
  /* --heading-txt:  */
}

/* -------- SECTION SCROLLBAR ---------- */
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb{
  background-color: #864d37;
  border-radius: 100px;
}


/* ---------- RESET / BASIC STYLES ---------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: var(--body-txt);
  font-weight: 400;
  font-size: 62.5%; 
  /* 62.5% of 16px browser font size is 10px */
  /* 12px in rems: 12 / 16 = 0.75rem */
  /* 16px in rems: 16 / 16 = 1rem */
  line-height: 1.6;
  scroll-behavior: smooth;
  color: var(--text-color);
}
body{
  background-color: var(--bg-color);
  font-family: var(--body-ff);
  /* user-select: none; */
}
h2{
  font-family: "Spectral";
  color: var(--text-color);
  font-size: 3.8rem;
  text-transform: capitalize;
  font-weight: initial;
  margin-bottom: 4rem;
  letter-spacing: -2px;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
}
h4{
  font-weight: initial;
}
p{
  font-size: 1.8rem;
  margin-block: 1.6rem;
}
a{
  color: hsl(var(--text-color));
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
i{
  font-size: 2.5rem;
}
section{
  padding: 10rem 0;
}

/* REUSABLE CLASSES */
.container{
  /* padding-inline: 1.5rem;
  max-width: 1180px;
  margin: 0 auto; */
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
} 
.btn{
  border-radius: 100px;
  /* border: none; */
  border: 3px solid transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 32px;
  font-family: var(--body-txt);
  text-transform: uppercase;
}
/* .hero__btn--brons{
  background-color: hsl(var(--secondary-color));
} */

/* ------------------------------------------------------*/


/* ---------- HEADER ---------- */
.logo{
  font-family: "Satisfy", cursive;
  color: var(--text-color);
  font-size: 4rem;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 0;
  transition: all 250ms ease-out;
}
.header.scrolled{
  height: 8rem;
  background-color: hsla(20, 27%, 2%, 0.9);
  background-color: var(--bg-color);
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 9px auto;
  height: 6rem;
  padding: 0 2rem;
}

/* ---------- NAVIGATION ---------- */
nav{
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
  font-family: monospace, sans-serif;
  letter-spacing: -2px;
  font-size: 1.4rem;
}
.nav__item:last-child{
  border-left: 2px solid var(--text-color);
  padding-left: 1.6rem;
}
.nav__close,
.toggle__menu{
  cursor: pointer;
}

/* NAVIGATION FOR MOBILE SCREENS AND IPAD */
@media screen and (max-width: 786px){
  .container{
    padding-inline: 4rem;
  } 
  .nav__menu{
    background-color: hsla(var(--primary-color), .25);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    box-shadow: -2px 0 12px hsla(0, 0%, 0%, .2);
    padding: 16rem 3rem 0;
    transition: right 400ms ease-out;
  }
  /* ---------- OPEN MENU JS ---------- */
  .open{
    right: 0;
  }
  .toggle__menu,
  .nav__close{
    color: hsl(var(--text-color));
    font-size: 2.4rem;
  }
  /* ---------- SECTION HERO ---------- */
  section.hero{
    height: 100%;
  }
  .menu__toggle{
    display: flex;
  }
  .hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .hero__img{
    width: 250px;
  }
  .hero__content h1{
    margin-block-start: 8rem;
    font-size: 2rem;
  }
  .hero__content p{
    font-size: 1.6rem;
    margin-block-end: 2rem;
  }
}
.nav__list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav__close{
  position: absolute;
  top: 1.7rem;
  right: 1.8rem;
  font-size: 3rem;
}
.nav__item a{
  color: var(--text-color);
  font-family: var(--nav-ff);
  font-size: 1.8rem
}

@media screen and (min-width: 787px){
  .nav__close,
  .toggle__menu{
    display: none;
  }
  .nav__list{
    flex-direction: row;
  }
}


/* ---------- HERO SECTION ---------- */
.hero{
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/copperno4_bg.jpg);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .65); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
.hero-content{
  font-family: "Spectral"
}
.hero .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo-img{
  width: 250px;
  margin-bottom: 3.2rem;
  font-weight: normal;
}
.hero h1{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
h1 .logo-hero{
  display: block;
  font-family: var(--logo-ff);
  font-weight: initial;
  text-align: center;
  font-size: 6rem;
  text-transform: initial;
  margin-top: 3rem;
}
.hero-text{
  font-size: 2.4rem;
  display: block;
  padding-block: 4rem;
  text-align: center;
}
.hero-btn{
  margin-top: 6.4rem;
  display: block;
  color: var(--primary-color);
  margin: 0 auto;
}

/* ---------- | SOCIAL MEDIA ICONS | ---------- */
.social-media{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: 2.5rem;

  position: absolute;
  top: 40%;
  padding: 0 8%;
}
.social-media a{
  color: var(--primary-color)
}
.social-media .tile{
  background-color: var(--bg-color);
  width: 100px;
  height: 100px;
  border-radius: 10%;
  padding: 1rem;
  box-shadow: 0 0 5px 1px #ffffff91;
  color: #fff;
}
/* ---------- | SECTION RESTAURANT | ---------- */
.restaurant-wrapper{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 375px 375px;
  background-color: hsl(0, 2%, 14%);
  /* padding: 3.2rem; */
}
.welcome-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
.restaurant-img{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.kornuiten{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.restaurant-text{
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 2.8rem auto;
  width: 850px;
}
/* .restaurant-image{
  width: 100px;
  object-fit: contain;
  object-position: 100px 100px;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
/* .restaurant-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.restaurant-img-container{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
/* .restaurant-img-container{
  flex: 1;
  justify-content: center;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  gap: 1.6rem;
  place-items: center;
} */
/* ---------- | SECTION MENU | ---------- */
.menu th{
  text-align: left;
  height: 75px;
  text-decoration: underline;
  font-size: 2.4rem;
  font-family: "Spectral";
}
.menu td.cap{
  text-transform: capitalize;
  font-size: 2.4rem;
}
.menu tr + .menu tr:nth-child(3n+3){
  font-size: 1.4rem;
}
.menu tr:nth-child(3n+2){
  font-family: "Spectral";
}

/* for row spacing */
.menu td > div{
  margin-bottom: 2.4rem;
}
/* end row spacing */

.menu span.emphasise{
  font-style: italic;
  font-size: 1.6rem;
}


.tabs__topbar{
  display: flex;
  gap: 1.6rem;
}
.btn--primary{
  background-color: transparent;
  border: 3px solid var(--primary-color);
  transition: all 300ms;
}
.tabs__button--active{
  background-color: var(--primary-color);
}
.tabs__content{
  width: 650px;
  margin-top: 3.2rem;
  border-radius: 20px;
  padding: 3.2rem;
  font-size: 1.8rem;
  background-color: #070504;
  display: none;
}
.tabs__content--active{
  display: block;
}
.tabs__content__list{
  display: grid;
}
.tabs__content__list img{
  width: 200px;
}
.tabs__content h3{
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  text-align: center;
} 
.tabs__content ul{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* ---------- | SECTION FEESTZAAL | ---------- */
.feestzaal-wrapper{
  display: flex;
  column-gap: 4rem;
}
.feestzaal-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}
.grid-item > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}


/* ---------- | SECTION DEN OUDE HERBERG | ---------- */
.website-dob-link, .mergellandroute-link{
  color: hsl(var(--text-color));
}
.website-dob-link:hover{
  border-bottom: 1px dashed 
}
.mergellandroute-link{
  border: 2px solid hsl(var(--text-color));
}
.denoudeherberg-image-container{
  display: flex;
  gap: 1.6rem;
}
.denoudeherberg-image-container img{
  transition: all 250ms;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.image{
  position: relative;
}
.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 350ms;
}
.image-overlay > *{
  transform: translateY(20px);
  transition: transform 350ms;
}
.image-overlay:hover{
  opacity: 1;
}
.image-overlay:hover > *{
  transform: translateY(0px);
}
.book, .website-dob{
  color: hsl(var(--text-color));
  border: 3px solid var(--text-color);
  border-radius: 100px;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "DM Sans";
  display: block;
}



/* ----- FOOTER ----- */

/* ----- CONTACT ----- */

/* ----- OPENINGHOURS ----- */
.openinghours{
  width: 350px;
  /* background-color: #864d37; */
  font-size: 2.4rem;
}

.openinghours p {
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.openinghours li {
  margin: .5rem .5em;
  padding: 1rem;
  background-color: hsl(var(--secondary-color));
  position: relative;
  overflow: hidden;
  flex: 1;
  flex-basis: 200px;
}


/* ---------- | FOOTER SECTION | ---------- */
footer{
  background-color: hsl(0, 0%, 0%);
  background-position: center;
  padding: 10rem 0 0 0;
  position: relative;
  /* background-image: url(/assets/images/eucalyptus.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain; */
}
/* footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/footer_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 55%;
  opacity: .1;
} */
.footer-column-heading{
  font-size: 2rem;
  font-family: "DMsans-thin", sans-serif;
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.footer-column{
  padding-right: 6rem;
}
.footer-column-content a{
  color: var(--text-color);
}
.phone-number, .email{
  font-size: 2.4rem;
  font-family: var(--body-ff), sans-serif;
  letter-spacing: -1px;
}
.row .email{
  color: var(--primary-color);
}
.visiting-location > *{
  font-size: 2.4rem;
  font-family: var(--body-ff), sans-serif;
}
.footer-bottom{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 100%;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
  padding: 3.2rem;
  margin-block: 6rem;
}
.footer-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  gap: 6.4rem;
}
.footer-menu a{
  color: var(--text-color);
}

/* --------- | FOOTER SOCIAL MEDIA | ---------- */
.footer-social-media{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer-social-media a{
  color: var(--text-color);
}

.phone-number-mobile{
  display: none;
}
.copyright{
  font-size: small;
  text-align: center;
  color: rgb(68, 68, 68);
  /* margin-top: 3.2rem; */
}


/* MOBILE (FIRST) -> [SCREEN SIZE: 375px] */
@media (min-width: 375px){}

/* LARGE MOBILES -> [SCREEN SIZE: 425px] */
@media (min-width: 425px){}

/* SMALL TABLET STYLES -> [SCREENSIZE: 768px] */
@media (max-width: 768px){
  .tabs__topbar{
    flex-wrap: wrap;
  }
  /* NAVIGATION */
  .logo{
    font-size: 2.8rem;
  }
  .nav-list{
    display: none;
  }
  .mobile-nav{
    display: block;
    cursor: pointer;
    font-size: 2.4rem;
  }
  .phone-number-mobile{
    display: block;
    position: absolute;
    right: 80px;
    top: 17px;
    color: var(--text-color);
    font-size: 1.8rem;
    border-right: 2px solid var(--text-color);
    padding-right: 1.6rem;
  }
  .mobile-nav .close-btn{
    display: none;
  }
  /* SOCIAL MEDIA HERO */
  .social-media{
    display: none;
  }
  /* SECTION MENU */
  .maindish-group{
    grid-template-columns: 1fr;
  }



  .footer-column{
    margin-bottom: 5rem;
  }
  /* .footer-column:nth-child(1){
    padding-right: 0rem;
  } */
  .footer-social-media{
    margin-top: 4.8rem
  }
  .footer-menu{
    gap: 2.4rem;
  }
  .footer-column-heading{
    gap: 1.4rem;
  }
}

/* LARGE TABLETS & LAPTOP STYLES -> [SCREENSIZE: 1024px] */
@media (min-width: 1024px){}

/* LARGE LAPTOP & DESKTOP STYLES -> [SCREENSIZE: 1440px] */
@media (min-width: 1440px){




}

/* 
@media screen and (min-width:992px) {
  .maindish-group{
    grid-template-columns: repeat(2, 1fr);
  }
} */
.maindish-group{
  grid-template-columns: 1fr;
}
