@font-face {
  font-family: "Unna";
  src: url(/assets/fonts/unna/Unna-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Saira";
  src: url(/assets/fonts/saira/SairaExtraCondensed-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Saira";
  src: url(/assets/fonts/saira/SairaExtraCondensed-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Saira";
  src: url(/assets/fonts/saira/SairaExtraCondensed-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Saira";
  src: url(/assets/fonts/saira/SairaExtraCondensed-Bold.ttf);
  font-weight: 700;
}

/* CUSTOM PROPERTIES */
:root{
  /* colors */
  --bg-color: hsl(0, 3%, 11%);
  /* --text-color: hsl(0, 2%, 80%); */
  --text-color: hsl(0, 0%, 93%);
  --bg-color-header: hsl(0, 3%, 11%);
  --primary-color: #864d37;
  --accent-color: hsl(18, 42%, 5%);
  --secondary-color: #F9D2C3;
  --accent-color2: #636A5B;
  --accent-color3: #454644;

  /* font-family */
  --body-txt: "Saira Extra Condensed", sans-serif;
  --heading-txt: "Unna", serif;
}

/* RESET / BASIC STYLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: var(--body-txt);
  font-weight: 400;
  font-size: 62.5%; 
  /* 62.5% of 16px browser font size is 10px */
  /* 12px in rems: 12 / 16 = 0.75rem */
  /* 16px in rems: 16 / 16 = 1rem */
  line-height: 1.5;
  scroll-behavior: smooth;
  color: var(--text-color);
}
body{
  background-color: var(--bg-color-header);
  font-size: 1.6rem;
}
h2{
  font-family: var(--heading-txt);
  font-size: 2.8rem;
  text-transform: uppercase;
}
h4{
  font-weight: 100;
}
ul{
  list-style: none;
}
a{
  color: var(--text-color);
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
section{
  padding-block: 6rem;
}

/* REUSABLE CLASSES */
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.6rem;
  height: 100%;
}
.btn{
  border-radius: 100px;
  border: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 32px;
  font-family: var(--body-txt);
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------*/

/* PROJECT STYLES - MOBILE FIRST */
/* ----- HEADER SECTION ----- */
header{
  position: fixed;
  width: 100%;
  top: 0;
  height: 0;
  z-index: 100;
  /* height: 60px; */
  transition: 350ms ease-out;
}
header.scrolled{
  height: 60px;
  background-color: hsla(0, 3%, 11%, .90);
}

nav{
  display: none;
  height: 60px;
  position: relative;
}
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  inset: 0;
  position: absolute;
  
  /* background-color: tomato; */
  
}


/* MOBILE NAVIGATION */
.mobile-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  position: fixed;
  right: 1.6rem;
  top: 1.2rem;
  cursor: pointer;
}
.mobile-nav .hamburger{
  font-size: 2.4rem;
  padding: .25rem;
  display: block;
}
.mobile-nav .close{
  display: none;
  font-size: 2.4rem;
}


/* ----- INTRO SECTION ----- */
.intro .container{
  font-family: "Unna";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width: 100%; */
  background-image: url("../images/afbeelding03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .60);

  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}
.intro-logo{
  width: 200px;
  height: auto;
  /* margin-bottom: -8rem; */
}
.intro-content{
  text-align: center;
  font-size: 2.8rem;
  /* letter-spacing: 1px; */
  margin-block-end: 10rem;
  margin-block-start: 4rem;
}
.intro-content span{
  display: block;
  font-size: 2rem;
}

/* ----- OPENINGHOURS ----- */
.openinghours li:not(.not-closed){
  border: 2px solid var(--accent-color3);
  padding: 1rem;
  background-color: transparent;
  text-transform: uppercase;
}
.openinghours p{
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.openinghours h2{
  letter-spacing: 1px;
}
.openinghours li{
  margin: 1rem 0;
  padding: 1rem;
  background-color: #454644;
  position: relative;
  overflow: hidden;
}
/* .openinghours li::after{
  content: "";
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
} */

/* ----- FOODGALLERY ----- */
.image-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.image-gallery > li{
  /* flex-basis: 200px; */
  height: 200px;
  width: 200px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .60);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(400px);

  transition: transform 350ms ease-in-out;
}
.image-gallery li:hover .overlay{
  transform: translateY(0)
}


/* ----- FOOTER ----- */
footer{
  margin-top: 6rem
}
.question{
  display: flex;
  flex-direction: column;
}
footer h2{
  margin-bottom: 1.6rem;
  text-align: center;
  text-transform: initial;
}
input[type="text"]{
  padding: .75rem 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-family: var(--body-txt);
  font-size: 1.8rem;
}
textarea{
  border-radius: 4px;
  border: none;
  resize: none;
  padding: .75rem 1rem;
  font-family: var(--body-txt);
  font-size: 1.8rem;
}
.btn-footer{
  margin-top: 2rem;
  border: 2px solid var(--primary-color);
  letter-spacing: 1px;
  transition: background-color 250ms ease;
}
.btn-footer:hover{
  background-color: transparent;
  border: 2px solid var(--primary-color);
}
.social-media{
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2.4rem;
  margin-block: 4rem;
  align-items: center;
}
.copyright{
  font-size: x-small;
  color: rgb(81, 81, 82);
  text-align: center;
}
.phonenumber{
  font-size: 2.4rem;
}
